body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* to prevent body overflow */
}

#canvas-container {
    width: 100%;
    height: 100vh; /* or a fixed value */
    overflow: hidden; /* to hide scrollbars if they appear */
}

#gameCanvas {
    max-width: 100%;
    max-height: 100%;

    width: 100%;
    height: 100%;
    display: block; /* eliminates extra space under the canvas */
}